.background-color {
    background-color: #543000;
}

.news-letter {
    padding-bottom: 4rem;
    padding-top: 4rem;
}

.btn-subscribe {
    background-color: #2B1801;
    color: #FFFFFF;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;


    &:hover {
        background-color: #2B1801; 
        border: none; 
        color: #FFFFFF;
      }
}

.custom-input {
    height: 60px;
    padding: 10px; 
  }
  