@import './_base.scss';

.title {
    color: $primary-color;
  } 
  
  .nav{
    ul{
        li{
            &.about:hover{
                
              color: $ul-color;
                
            }
            a{
                text-decoration: none;
                font-size: 2rem;
                span{
                    color: #cb06bb;
                }
            }
        }
    }
  }

