.background-color{
    background-color: #2B1800;
}

.row-padding{
    padding-top: 4rem; 
    padding-bottom: 4rem;
    text-align: center;
}

.footer-line{
    background-color: #000000;
    text-align: center;
}

.archmage{
    color: #217E00;
}